#gameCanvas {
    background-color: var(--bs-dark);
    border: 2px solid var(--bs-secondary);
    border-radius: 4px;
}

.card {
    background-color: var(--bs-dark);
    border: 1px solid var(--bs-secondary);
}

.list-group-item {
    background-color: var(--bs-dark);
    border-color: var(--bs-secondary);
}
